MONGODB_URI=mongodb://todo_app:todo_dev_password@localhost:27017/todo?authSource=todo
APP_USER_NAME=todo-user
APP_USER_PASSWORD=replace-with-a-long-random-password
APP_ADMIN_NAME=todo-admin
APP_ADMIN_PASSWORD=replace-with-a-different-long-random-password
SESSION_COOKIE_SECURE=false
